doctype 5
html
    head
        title= title

        link(rel='stylesheet', href='/leaflet/leaflet.css')
        //if lt IE 8
            link(rel='stylesheet', href='/leaflet/leaflet-ie.css')

        // link(rel='stylesheet', href='/leaflet/cluster/MarkerCluster.css')
        // link(rel='stylesheet', href='/leaflet/cluster/MarkerCluster.Default.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        
        //if lt IE 8
              link(rel='stylesheet', href='/leaflet/cluster/MarkerCluster.Default.ie.css')
    body
        header.header
            h1 #{title}
                span . 
            menu.menu(type="toolbar")
                button#contracts-button Choose a city
                button#icon-bike-my-position.icon-bike &#8982;
                button#icon-bike-plus.icon-bike +
                button#icon-bike-minus.icon-bike &minus;
        block content
        script(type='text/javascript', src='/javascripts/hand.minified-1.1.2.js')
        script(type='text/javascript', src='/leaflet/leaflet.js')
        script(type='text/javascript', src='/leaflet/cluster/leaflet.markercluster.js')
        script(type='text/javascript', src='/javascripts/script.js')