extends layout

block content
    #contracts(data-contract=city)
    #map
    #actions
        button#my-position My position
    script(src='/javascripts/contracts.js')
    script(src='/javascripts/cities/' + city.toLowerCase() + '.js')