html {
    font-size: 100%;
}

body {
    background-color: #2e2e2e;
    font: 0.75em Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #00b7ff;
}

h1 {
    background: linear-gradient(to bottom, #353535, #151513);
    color: #da3e2f;
    font-size: 2em;
    font-style: italic;
    margin: 0;
    padding: .2em;
    text-align: center;
    width: 100%;
}

h1::after {
    content: ' \D83D\DEB2';
    color: #39c7db;
    font-style: normal;
}

#map {
    height: 480px;
}

#actions {
    bottom: 0;
    position: fixed;
    width: 100%;
}

#actions > button {
    height: 40px;
    width: 25%;
}

#my-position::after{
    content: '\2316';
    font-size: 2em;
}